.filter {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  /* border: 1px solid red; */
}

.filter-label {
  margin-right: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.back {
  margin-right: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: maroon;
}
